{%- if enabled -%}
  {%- assign scalapay_max_amount = 1500 -%}
  {%- assign price_numeric = price | plus: 0 | divided_by: 100.00 -%}
  <script src="https://cdn.scalapay.com/js/scalapay-widget/webcomponents-bundle.js"></script>
  <script src="https://cdn.scalapay.com/js/scalapay-widget/scalapay-widget.js"></script>
  <div style="margin: 0 0 10px 0;min-height:20px;">
    <scalapay-widget
      amount="{{ price | plus: 0 | divided_by: 100.00 }}"
      min="5"
      max="{{ scalapay_max_amount }}"
      amountSelectorArray='[".summary__price--total", "div.price-area > div > span.current-price.theme-money"]'
      size="100px"
      logoSize="100%"
      priceColor="#000000"
      logoColor="#000000"
      logoAlignment=""
      numberOfPayments="3"
      hideLogo="false"
      locale="{{ request.locale.iso_code }}"
      priceBoxSelector='.price-container'>
    </scalapay-widget>
  </div>
{%- endif -%}